table {
    width: 100%;
}

th {
    background-color: grey;
    text-align: center;
}

#head {
    /* margin-top: 2em; */
    font-size: 1.3em;
    font-weight: 350;
}

table td {
    padding-top: 2em !important;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

table .image {
    padding: 0.5em !important;
    width: 15em;
}

td .digts {
    font-size: 1.1em;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .container {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: .75em;
    }
}

#totals {
    letter-spacing: 0.2em;
    font-weight: 400;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

mat-chip {
    width: 100%;
    height: 2.8em;
    justify-content: space-between;
}