<section style="padding-top:3em;">
  <div class="container" style="padding-top:3em;">
    <table class="table">
      <thead class="" style="background-color:grey;">
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!--  -->
          <td>
            <button mat-button>
              <span class="material-icons">
                clear
              </span>
            </button>
          </td>

          <!--  -->
          <td class="image">
            <img src="../../../assets/images/product-1.jpg" width="85%">
          </td>

          <!--  -->
          <td class="product">
            <h2 id="head">Hauteville Rocking Chair</h2>
            <p style="max-width:95%;">ligendi quo reiciendis fugit? Veritatis tenetur odio delectus</p>
          </td>

          <!--  -->
          <td>
            <p class="digts">$60.0</p>
          </td>

          <!--  -->
          <td>
            <p class="digts">2</p>
          </td>

          <!--  -->
          <td>
            <p class="digts">$120</p>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container" style="border:solid">
    <mat-card style="width:40%;float:right;">
      <h2>
        CART TOTALS
      </h2>
      <hr>
      <div class="row">
      </div>
    </mat-card>
  </div>
</section>
