<section style="padding-top:3em;">
  <div class="container" style="padding-top:3em;">
    <table class="table">
      <thead class="" style="background-color:grey;">
        <tr>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!--  -->
          <td>
            <button mat-button>
              <span class="material-icons">
                clear
              </span>
            </button>
          </td>

          <!--  -->
          <td class="image">
            <img src="../../../assets/images/product-1.jpg" width="85%">
          </td>

          <!--  -->
          <td class="product">
            <h2 id="head">Hauteville Rocking Chair</h2>
            <p style="max-width:95%;">ligendi quo reiciendis fugit? Veritatis tenetur odio delectus</p>
          </td>

          <!--  -->
          <td>
            <p class="digts">$60.0</p>
          </td>

          <!--  -->
          <td>
            <p class="digts">
              <mat-form-field class="example-full-width">
                <mat-label></mat-label>
                <input matInput type="number" value="1">
              </mat-form-field>
            </p>
          </td>

          <!--  -->
          <td>
            <p class="digts">$120</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container" style="margin-top:5em;">
    <mat-card style="width:40%;float:right;height:13em;">
      <h2 id="totals">
        CART TOTALS
      </h2>
      <hr style="background-color:brown;padding-top:0.1em;">
      <div class="container row" style="padding-top:1em;">
        <p class="col-md-6 col-sm-12" style="letter-spacing:0.2em;color:grey;padding:0;">
          TOTAL
        </p>
        <p class="col-md-6 col-sm-12" style="font-size:1.2em;">
          $120
        </p>
      </div>
    </mat-card>
  </div>
  <div class="container" style="margin-top:1em;text-align: center;">
    <mat-chip-list style="float:right;width:40%;">
      <mat-chip color="accent" selected>Accent fish</mat-chip>
    </mat-chip-list>
  </div>
</section>
