<section>
  <div class="container" style="padding-top:2em;">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 animate-box">
        <div class="">
          <img src="../../../assets/images/product-1.jpg" width="50%">
        </div>
        <div class="animate-box">
          <h2 id="heads">Hauteville Rocking Chair</h2>
          <br>
          <p>
            <button mat-raised-button color="primary">Add to Cart</button>&nbsp;
            <button mat-raised-button routerLink="/products" color="accent">Compare</button>
            <!-- <a href="#" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
            <a href="#" class="btn btn-primary btn-outline btn-lg">Compare</a> -->
          </p>
        </div>
      </div>
    </div>

    <!-- material tabs -->
    <mat-tab-group mat-align-tabs="start">
      <!-- tab 1 -->
      <mat-tab label="Product Details">
        <div class="col-md-10 col-md-offset-1" style="padding-top:7em;">
          <span class="price">SRP: $350</span>
          <h2 id="head">Hauteville Rocking Chair</h2>
          <p>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</p>

          <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis molestias totam fugiat soluta accusantium omnis quod similique placeat at. Dolorum ducimus libero fuga molestiae asperiores obcaecati corporis sint illo facilis.</p>

          <div class="row">
            <div class="col-md-6">
              <h2 class="uppercase">Keep it simple</h2>
              <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
            </div>
            <div class="col-md-6">
              <h2 class="uppercase">Less is more</h2>
              <p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
            </div>
          </div>

        </div>
      </mat-tab>
      <mat-tab disabled>
      </mat-tab>
      <mat-tab disabled>
      </mat-tab>
      <mat-tab disabled>
      </mat-tab>
      <!-- tab 2 -->
      <mat-tab label="Specification">
        <div class="col-md-10 col-md-offset-1" id="spec">
          <h3>Product Specification</h3>
          <ul>
            <li>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius</li>
            <li>adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi</li>
            <li>Veritatis tenetur odio delectus quibusdam officiis est.</li>
            <li>Magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</li>
          </ul>
          <ul>
            <li>Paragraph placeat quis fugiat provident veritatis quia iure a debitis adipisci dignissimos consectetur magni quas eius</li>
            <li>adipisci dignissimos consectetur magni quas eius nobis reprehenderit soluta eligendi</li>
            <li>Veritatis tenetur odio delectus quibusdam officiis est.</li>
            <li>Magni quas eius nobis reprehenderit soluta eligendi quo reiciendis fugit? Veritatis tenetur odio delectus quibusdam officiis est.</li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
	</div>
</section>

<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>click2shop</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2020 All Rights Reserved.</small>
						<small class="block"></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
				</div>
			</div>
		</div>
	</footer>
