section {
    margin-top: 2.5em;
}

.mat-tab-group {
    margin-bottom: 48px;
}

mat-ink-bar.mat-ink-bar {
    background-color: brown !important;
}

.price {
    border: solid;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 1em;
    /* padding-bottom: 1em; */
}

#heads {
    margin-top: 1em;
    letter-spacing: 0.09em;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

#head {
    margin-top: 2em;
    font-size: 2em;
    font-weight: 400;
}

p {
    line-height: 3em;
    letter-spacing: 0.02em;
    font-size: 1.1em;
}

ul {
    list-style: none;
}

ul li:before {
    /* content: "\f3fd"; */
    display: inline-block;
    margin-left: -36px;
    width: 36px;
    content: '✓';
}

ul li {
    /* margin: 2em; */
    line-height: 1;
    padding: 8px 0 8px 36px;
}
