<div id="page">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height:100%;margin-top:2.5em;" >
    <div class="carousel-inner" style=" height:100%;">
      <div class="carousel-item active" style="height:100%;">
        <div class="one" style="height:100%;">
          <mat-card class="example-card insert-remove-container" @myInsertRemoveTrigger *ngIf="isShown">
            <div style="height:25%;margin-top:1.7em;">
              <p>$540</p>
              <h2>The WW Chair</h2>
            </div>

            <div class="dec" style="height:30%;margin-top:0.7em;padding-top:0.4em;">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            </div>

            <div style="height:20%;margin-top:2em;">
              <button mat-stroked-button color="warn" style="font-size:1rem;height:100%;width:50%;border:solid brown;">Purchase Now</button>
            </div>
          </mat-card>
        </div>
      </div>

      <div class="carousel-item" style="height:100%;">
        <div class="one" style="height:100%;">
          <mat-card class="example-card insert-remove-container" @myInsertRemoveTrigger *ngIf="isShown">
            <div style="height:25%;margin-top:1.7em;">
              <p>$540</p>
              <h2>The WW Chair</h2>
            </div>

            <div class="dec" style="height:30%;margin-top:0.7em;padding-top:0.4em;">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            </div>

            <div style="height:20%;margin-top:2em;">
              <button mat-stroked-button color="warn" style="font-size:1rem;height:100%;width:50%;border:solid brown;">Purchase Now</button>
            </div>
          </mat-card>
        </div>
      </div>

      <div class="carousel-item" style="height:100%;">
        <div class="one" style="height:100%;">
          <mat-card class="example-card insert-remove-container" @myInsertRemoveTrigger *ngIf="isShown">
            <div style="height:25%;margin-top:1.7em;">
              <p>$540</p>
              <h2>The WW Chair</h2>
            </div>

            <div class="dec" id="pp" style="height:30%;margin-top:0.7em;padding-top:0.4em;">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            </div>

            <div style="height:20%;margin-top:2em;">
              <button mat-stroked-button color="warn" style="font-size:1rem;height:100%;width:50%;border:solid brown;">Purchase Now</button>
            </div>
          </mat-card>
        </div>
      </div>

    </div>
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
  </div>

<!-- SECTION 2 -->
	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center insert-remove-container" id="tryin" @myInsertRemoveTrigger *ngIf="isSeen">
						<div id="circle" style="border:solid;margin-bottom:2em;">
							<!-- <span class="material-icons md-light md-36">credit_card</span> -->
              <!-- <i class="fa fa-credit-card fa-3x" aria-hidden="true" style="margin-top:0.6em;color:white;"></i> -->
              <img src="../../../assets/icons/credit-card.png" alt="credit card" style="margin-top:1.3em;width:65%;">
            </div>
						<h3>Credit Card</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
						<p><button mat-stroked-button color="warn" style="font-size:1rem;height:100%;width:50%;">Learn More</button></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" @sectionTwo *ngIf="isSeen">
						<div id="circle" style="border:solid;margin-bottom:2em;">
              <!-- <span class="material-icons md-light md-36">account_balance_wallet</span> -->
							<!-- <i class="fa fa-money" aria-hidden="true"></i> -->
              <img src="../../../assets/icons/wallet.png" alt="wallet" style="margin-top:1.3em;width:65%;">
						</div>
						<h3>Save Money</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
						<p><button mat-stroked-button color="warn" style="font-size:1rem;height:100%;width:50%;">Learn More</button></p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 text-center">
					<div class="feature-center animate-box" @sectionTwo *ngIf="isSeen">
						<div id="circle" style="border:solid;margin-bottom:2em;">
							<!-- <i class="fa fa-paper-plane fa-3x" aria-hidden="true" style="margin-top:0.6em;color:white;"></i> -->
              <img src="../../../assets/icons/delivery-truck.png" alt="truck"  style="margin-top:1.3em;width:65%;">
						</div>
						<h3>Free Delivery</h3>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
						<p><button mat-stroked-button color="warn" style="font-size:1rem;height:100%;width:50%;">Learn More</button></p>
					</div>
				</div>
			</div>
		</div>
	</div>

  <!-- SECTION 3 -->
	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Cool Stuff</span>
					<h2>Products.</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(../assets/images/product-1.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon" style="padding-top:1.5rem;"><span class="material-icons">shopping_cart</span></a>
									<a href="single.html" class="icon" style="padding-top:1.5rem;"><span class="material-icons">visibility</span></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Hauteville Concrete Rocking Chair</a></h3>
							<span class="price">$350</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(../assets/images/product-2.jpg);">
							<span class="sale">Sale</span>
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Pavilion Speaker</a></h3>
							<span class="price">$600</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(../assets/images/product-3.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Ligomancer</a></h3>
							<span class="price">$780</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(../assets/images/product-4.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Alato Cabinet</a></h3>
							<span class="price">$800</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(../assets/images/product-5.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Earing Wireless</a></h3>
							<span class="price">$100</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(../assets/images/product-6.jpg);">
							<div class="inner">
								<p>
									<a href="single.html" class="icon"><i class="icon-shopping-cart"></i></a>
									<a href="single.html" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html">Sculptural Coffee Table</a></h3>
							<span class="price">$960</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="margin:0 auto;">
					<h2>Newsletter</h2>
					<p>Just stay tune for our latest Product. Now you can subscribe</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2" style="margin:0 auto;">
					<form class="example-form row">
						<div class="col-md-6 col-sm-6">
              <mat-form-field appearance="fill" style="width:100%;">
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
						<div class="col-md-6 col-sm-6" style="text-align:right">
							<button mat-raised-button color="primary" type="submit">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>click2shop</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2020 All Rights Reserved.</small>
						<small class="block"></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
				</div>
			</div>
		</div>
	</footer>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
