.payment {
    height: 100%;
    margin-top: 4em;
}

#contain {
    width: 95%;
    margin: 0 auto;
}

label {
    margin-left: 1.6em;
}

mat-expansion-panel {
    margin-top: 0.5em;
    /* height: fit-content; */
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-panel-title {
    width: 50%;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 40%;
}