.payment {
    height: fit-content;
    margin-top: 4em;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

#contain {
    width: 95%;
    margin: 0 auto;
    padding-top: 2em;
}

.delivery {
    height: 20em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#address {
    border: solid;
    margin: auto 0;
    height: 100%;
}

label {
    margin-left: 1.6em;
}

mat-expansion-panel {
    margin-top: 0.5em;
    /* height: fit-content; */
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

mat-panel-title {
    width: 50%;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 45%;
    height: 40%;
}

.payments {
    margin: 2em 0;
}
